<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rosalie.surfingcouch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".TripActivity" />
        <activity android:name=".Messages.MessagesActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ListOfUsersActivity" />
        <activity android:name=".Messages.ChatActivity" />
        <activity android:name=".Places.AddHostingPlaceActivity" />
        <activity android:name=".Places.DisplayPlaceActivity" />
        <activity android:name=".Reviews.AddingReviewActivity" />
        <activity android:name=".Reviews.DisplayReviewActivity" />
        <activity android:name=".Messages.CheckConversationActivity" />
        <activity android:name=".Bookings.AddBookingActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOvRXkUmK0ZUeaSkAtmHRp--_TEjGbOa0" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Bookings.BookingDisplayActivity" />
        <activity android:name=".Shop.ShopActivity" />
        <activity android:name=".Shop.DisplayItemShopActivity" />
        <activity android:name=".AcceptBookingActivity" />
        <activity android:name=".RefuseBookingActivity" />
        <activity android:name=".DisplayRewardActivity"></activity>
    </application>

</manifest>